Workflows/인생/종합HTML콘텐츠/104개 생성

{
    "name": "영화 인생 종합HTML콘텐츠 생성 자동화",
    "flow": [
        {
            "id": 3,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "app7PHXdWkoIUoNgq",
                "view": "viwvHRFpEdTX4NmTT",
                "table": "tblMq1YTHJgDmGm2T",
                "config": {
                    "labelField": "NUMBER",
                    "triggerField": "created"
                },
                "formula": "{Single Select}=\"completed\"",
                "maxRecords": 1,
                "__IMTCONN__": 4201632,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 7,
                    "y": 36
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "영화콘텐츠 콘텐츠 제작"
                        },
                        "view": {
                            "label": "영화 <인생>"
                        },
                        "table": {
                            "label": "Table 1"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "NUMBER"
                                },
                                "triggerField": {
                                    "label": "created"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrOKXNxuY7Bb3ii0)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "NUMBER",
                        "type": "text",
                        "label": "NUMBER"
                    },
                    {
                        "name": "chinese_subtitle",
                        "type": "text",
                        "label": "chinese_subtitle",
                        "multiline": true
                    },
                    {
                        "name": "Single Select",
                        "type": "text",
                        "label": "Single Select"
                    },
                    {
                        "name": "text_content",
                        "type": "text",
                        "label": "text_content"
                    },
                    {
                        "name": "image_file",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "image_file"
                    },
                    {
                        "name": "google_drive_URL",
                        "type": "text",
                        "label": "google_drive_URL"
                    },
                    {
                        "name": "HTML파일",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "HTML파일"
                    },
                    {
                        "name": "DATE",
                        "time": false,
                        "type": "date",
                        "label": "DATE"
                    },
                    {
                        "name": "Audio_url",
                        "type": "text",
                        "label": "Audio_url"
                    },
                    {
                        "name": "ID",
                        "type": "text",
                        "label": "ID",
                        "multiline": true
                    },
                    {
                        "name": "Attachment Summary",
                        "type": "text",
                        "label": "Attachment Summary"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "created"
                    },
                    {
                        "name": "오류메세지",
                        "type": "text",
                        "label": "오류메세지",
                        "multiline": true
                    },
                    {
                        "name": "HTML_LONGTEXT",
                        "type": "text",
                        "label": "HTML_LONGTEXT",
                        "multiline": true
                    },
                    {
                        "name": "구글드라이브링크",
                        "type": "text",
                        "label": "구글드라이브링크"
                    },
                    {
                        "name": "image_URL",
                        "type": "text",
                        "label": "image_URL"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3372961
            },
            "mapper": {
                "model": "claude-opus-4-20250514",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "#역할\n당신은 숙련된 중국어 교육 전문가로서, 영화 자막을 활용한 체계적인 중국어 학습 콘텐츠를 제작합니다.\n\n#기본 지침\n1. 학습자료를 활용하여 텍스트 분석과 어휘 카드 형식의 HTML 학습자료를 생성합니다.\n2. 모든 출력은 세련된 파스텔 톤의 HTML 형식으로 제공됩니다.\n3. 응답은 HTML body 내용만 출력하며, 설명 없이 바로 시작합니다.\n4. <body>와 </body> 태그는 포함하지 않고, 내부 내용만 출력합니다.\n5. CSS는 <style> 태그로, JavaScript는 <script> 태그로 포함합니다.\n\n#1단계: 텍스트 분석\n각 자막 세트에 대해 다음을 제공:\n\n원본 중국어 자막: 정확한 중국어 텍스트\n병음 표기: 성조 포함 정확한 병음\n자연스러운 한국어 번역: 맥락에 맞는 자연스러운 한국어\nTTS 기능: 중국어 원문 음성 재생 버튼(원본 중국어 자막 옆에 '재생'버튼으로 생성, 한번 클릭 - 재생, 다시 클릭 - 정지)\n한줄씩 제공\n\n출력 형식:\n★원문 중국어 텍스트 (TTS 재생버튼(한번 누르면 재생, 다시 누르면 중지))\n→정확한 한어병음\n☆자연스러운 한국어 번역\n\n#2단계: 어휘 카드\n주어진 자막에서 핵심 단어 10개를 선별하여 플립카드 형식으로 제공합니다.\n\n앞면 구성:\n연상 이모지 (적절한 의미를 나타내는)\n중국어 단어 (간체/번체)\n병음 (성조 포함)\n한국어 뜻\nTTS 재생 버튼: <button class=\"tts-btn\" data-text=\"단어\">🔊 재생</button>\n\n\n뒷면 구성:\n단어 예문 (중국어)\n예문 번역 (한국어)\nTTS 재생 버튼 (예문)\n학습 확인용 체크 버튼: <button class=\"check-btn\" onclick=\"toggleCheck(this)\">학습 완료</button>\n\n#스크립트 지침\n음성 재생은 Web Speech API를 사용합니다 (zh-CN 설정).\nTTS 버튼은 data-text 속성을 기준으로 재생합니다.\nDOMContentLoaded 이후 .tts-btn 및 .check-btn 이벤트를 모두 등록해야 합니다.\n\n#학습자료: {{3.chinese_subtitle}}\n\n#디자인 요구사항\n색상: 파스텔톤 블루, 라벤더 계열\n폰트: 중국어, 한국어 모두 가독성 높은 고딕계열\n반응형 레이아웃\n카드 플립 애니메이션, 버튼 호버 효과\n뒷면은 카드 회전(rotateY)으로 표시\n\n#출력 형식 예시 (구조 안내용)\n#텍스트 분석 예시:\nhtml<div class=\"text-line\">\n    <div class=\"chinese-text\">\n        ★ 今天天气很好 \n        <button class=\"tts-control\" onclick=\"toggleTTS(this, '今天天气很好')\">재생</button>\n    </div>\n    <div class=\"pinyin-text\">→ jīn tiān tiān qì hěn hǎo</div>\n    <div class=\"korean-text\">☆ 오늘 날씨가 매우 좋습니다</div>\n</div>\n어휘 카드 예시:\nhtml<div class=\"vocab-card\">\n  <div class=\"card-front\">\n    <div class=\"vocab-emoji\">🌧️</div>\n    <div class=\"vocab-chinese\">下雨</div>\n    <div class=\"vocab-pinyin\">xià yǔ</div>\n    <div class=\"vocab-korean\">비가 내리다</div>\n    <button class=\"tts-btn\" data-text=\"下雨\">🔊 재생</button>\n  </div>\n  <div class=\"card-back\">\n    <div class=\"example-chinese\">今天一直在下雨。</div>\n    <div class=\"example-korean\">오늘 하루 종일 비가 내리고 있어요.</div>\n    <button class=\"tts-btn\" data-text=\"今天一直在下雨。\">🔊 재생</button>\n    <button class=\"check-btn\" onclick=\"toggleCheck(this)\">학습 완료</button>\n  </div>\n</div>",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "13000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 259,
                    "y": -210
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Claude Opus 4"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "PDF document",
                                                                        "value": "document",
                                                                        "nested": [
                                                                            "rpc://anthropic-claude/1/notePdfDocument",
                                                                            {
                                                                                "name": "pdfFileName",
                                                                                "type": "filename",
                                                                                "label": "Filename",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "pdf"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "pdfFileData",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3372961
            },
            "mapper": {
                "model": "claude-opus-4-20250514",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "# 역할\r\n당신은 숙련된 중국어 교육 전문가로서, 영화 자막을 활용한 체계적인 중국어 학습 콘텐츠를 제작합니다.\r\n\r\n# 기본 지침\r\n1. 제공된 자막 텍스트를 활용하여 어휘 연습 문제를 HTML 형식으로 제작합니다.\r\n2. 자막 문장에서 핵심 단어를 빈칸으로 만들고, 보기에 선택지 3개를 제시합니다.\r\n3. 총 5문제를 생성하며, 클릭 시 정답 여부가 즉시 시각적으로 표시되어야 합니다.\r\n4. 정답 선택 후 다시 선택할 수 있어야 하며, 해설이 함께 표시되어야 합니다.\r\n5. 모든 출력은 세련된 파스텔 톤의 HTML 형식으로 제공합니다.\r\n6. 응답은 HTML 코드만 출력하며, 설명 없이 시작합니다.\r\n7. HTML의 마지막은 반드시 `</body></html>`로 끝납니다.\r\n8. HTML에는 CSS 스타일과 JavaScript가 포함되어 있어야 하며, 브라우저에서 바로 실행 가능한 완성 형태로 출력합니다.\r\n\r\n# 3단계: 어휘연습\r\n- 총 5개의 문장을 변형하여 빈칸 문제로 제시\r\n- 각 문제는 다음 요소로 구성:\r\n  - 문장 내 빈칸: `<span class=\"blank\">___</span>`\r\n  - 선택지 3개: `<button class=\"option-btn\">단어</button>` 형태\r\n  - 해설 영역: `<div class=\"explanation\">...</div>` 형태 (정답 선택 시 보이도록 설정)\r\n- 선택한 답이 정답이면 `.correct`, 오답이면 `.incorrect` 클래스를 부여\r\n- 같은 문제에서 여러 번 선택할 수 있도록 상태 초기화 로직 포함\r\n- 해설은 정답을 고른 후 나타납니다\r\n\r\n# 스크립트 지침\r\n1. 버튼 클릭 시 이전 선택 초기화 후 새 정답 여부를 판단\r\n2. 해설은 `.explanation` 클래스로 구성하고 `.show` 클래스로 토글합니다.\r\n3. HTML 하단에 `<script>`를 포함하고, DOMContentLoaded 후 이벤트 연결합니다.\r\n\r\n# 학습자료\r\n{{3.chinese_subtitle}}\n\n# 디자인 요구사항\r\n- 색상: 블루, 라벤더 계열 파스텔톤\r\n- 인터랙션: 선택지 hover, 정답/오답 애니메이션, 해설 slide 효과\r\n- 반응형 레이아웃: 모바일 및 데스크탑 지원\r\n- 타이포그래피: Noto Sans KR, Noto Sans SC 등 가독성 중심\r\n\r\n# 출력 구조 안내\r\n- 각 문제는 `.quiz-section` 컨테이너 안에 구성\r\n- 선택지는 `.options` 안에 `<button class=\"option-btn\">...</button>` 형태로 배치\r\n- 해설은 `.explanation` 영역 안에 자연어로 표시\r\n\r\n# 예시 (구조만 안내)\r\n\r\n```html\r\n<div class=\"quiz-section\">\r\n  <div class=\"question\">1. 娘，___完了，扶我爹进去吧。</div>\r\n  <div class=\"options\">\r\n    <button class=\"option-btn\">帮</button>\r\n    <button class=\"option-btn correct\">擦</button>\r\n    <button class=\"option-btn\">打</button>\r\n  </div>\r\n  <div class=\"explanation\">✔️ '擦'는 '닦다'는 의미로, 상황상 가장 적절한 동사입니다.</div>\r\n</div>\r\n",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "10000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 500,
                    "y": -216
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Claude Opus 4"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "PDF document",
                                                                        "value": "document",
                                                                        "nested": [
                                                                            "rpc://anthropic-claude/1/notePdfDocument",
                                                                            {
                                                                                "name": "pdfFileName",
                                                                                "type": "filename",
                                                                                "label": "Filename",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "pdf"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "pdfFileData",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3372961
            },
            "mapper": {
                "model": "claude-opus-4-20250514",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "# 역할\r\n당신은 숙련된 중국어 교육 전문가로서, 영화 자막을 활용한 체계적인 중국어 학습 콘텐츠를 제작합니다.\r\n\r\n# 기본 지침\r\n1. 주어진 자막을 바탕으로 문법 분석 5개, 구문 분석 5개를 HTML 형식으로 제작합니다.\r\n2. 각 분석 항목은 카드 형식으로 구성되며, 세련된 파스텔톤 스타일을 적용합니다.\r\n3. 출력은 완성된 HTML 코드로만 제공되며, 설명 없이 HTML만 출력합니다.\r\n4. 전체 HTML의 마지막은 반드시 `</body></html>`로 종료되어야 합니다.\r\n5. CSS 및 JavaScript는 포함되어야 하며, 브라우저에서 바로 실행 가능한 구조로 출력합니다.\r\n\r\n# 4단계: 문법 분석\r\n총 5개의 문법 포인트를 분석합니다.\r\n각 항목은 다음 구성으로 이루어집니다:\r\n- 문법 포인트 제목 (예: “了”의 완료용법)\r\n- 자막에서의 실제 예문\r\n- 해당 문법의 구조 및 기능 설명\r\n- 한국어 설명\r\n- 추가 예문 1~2개\r\n\r\n각 문법 포인트는 `.grammar-point` 클래스를 사용하고, 인터랙션 효과(hover/slide 등)를 포함합니다.\r\n\r\n# 5단계: 구문 분석\r\n총 5개의 핵심 구문을 분석합니다.\r\n각 항목은 다음 구성으로 이루어집니다:\r\n- 분석 대상 구문 (예: “你不是...吗？”)\r\n- 구문 구조 분해 (성분별 설명)\r\n- 직역 vs 의역 비교\r\n- 유사 표현 또는 대체 표현\r\n- 사용되는 상황에 대한 설명\r\n\r\n각 구문 포인트는 `.syntax-point` 클래스를 사용하고, 시각적 강조 및 반응형 효과를 포함합니다.\r\n\r\n# 학습자료\r\n{{3.chinese_subtitle}}\n\r\n# 디자인 요구사항\r\n- 색상: 파스텔톤 블루와 라벤더 계열\r\n- 레이아웃: `.grammar-point`와 `.syntax-point`는 카드 형태로 위아래 배치\r\n- 반응형 디자인: 모바일/데스크탑 모두에서 적응 가능\r\n- 애니메이션: hover 시 그림자/이동 효과, 해설 펼침 슬라이드 등\r\n- 타이포그래피: Noto Sans KR (한국어), Noto Sans SC (중국어)\r\n- 사용자 경험: 문법/구문 제목 클릭 시 내용 토글 가능하도록 구성\r\n\r\n# 스크립트 요구\r\n- `.toggle-btn` 클릭 시 다음 형식의 설명 `.content`가 슬라이드처럼 표시되도록 합니다:\r\n\r\n```html\r\n<div class=\"grammar-point\">\r\n  <div class=\"grammar-title\">문법 제목</div>\r\n  <div class=\"grammar-content\">내용...</div>\r\n</div>\r\n",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "13000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 751,
                    "y": -218
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Claude Opus 4"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "PDF document",
                                                                        "value": "document",
                                                                        "nested": [
                                                                            "rpc://anthropic-claude/1/notePdfDocument",
                                                                            {
                                                                                "name": "pdfFileName",
                                                                                "type": "filename",
                                                                                "label": "Filename",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "pdf"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "pdfFileData",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3372961
            },
            "mapper": {
                "model": "claude-opus-4-20250514",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "# 역할\r\n당신은 숙련된 중국어 교육 전문가로서, 영화 자막을 바탕으로 문법/구문 연습문제를 HTML 형식으로 생성합니다.\r\n\r\n# 출력 지침\r\n- 총 10문제(문법 5, 구문/문맥 5), 4지선다 선택형\r\n- HTML에는 문제, 선택지, 해설 영역 포함\r\n- <style>과 <script> 포함 (단 <body>와 <html> 태그는 제외)\r\n- 자바스크립트 answers 객체에 정답과 해설을 정의할 것\r\n\r\n# HTML 구조 예시\r\n<style>\r\n.quiz-section {\r\n  margin-bottom: 24px;\r\n  padding: 16px;\r\n  background: #f5f0ff;\r\n  border-radius: 10px;\r\n}\r\n.option-btn {\r\n  padding: 10px;\r\n  margin: 4px 0;\r\n  width: 100%;\r\n  text-align: left;\r\n  border-radius: 6px;\r\n  border: 1px solid #ccc;\r\n  background-color: #fff;\r\n  cursor: pointer;\r\n  transition: background-color 0.3s ease;\r\n}\r\n.option-btn.correct {\r\n  background: #c8e6c9;\r\n}\r\n.option-btn.incorrect {\r\n  background: #ffcdd2;\r\n}\r\n.explanation {\r\n  display: none;\r\n  margin-top: 8px;\r\n  padding: 8px;\r\n  border-radius: 6px;\r\n}\r\n.explanation.show {\r\n  display: block;\r\n}\r\n.explanation.correct {\r\n  background: #e8f5e9;\r\n}\r\n.explanation.incorrect {\r\n  background: #fce4ec;\r\n}\r\n</style>\r\n\r\n<div class=\"quiz-section\">\r\n  <div class=\"question\">1. 다음 중 문법적으로 올바른 문장은?</div>\r\n  <div class=\"options\">\r\n    <button class=\"option-btn\" onclick=\"checkAnswer(this, 1, 1)\">1) 他很高兴的笑了。</button>\r\n    <button class=\"option-btn\" onclick=\"checkAnswer(this, 1, 2)\">2) 他笑得很高兴。</button>\r\n    <button class=\"option-btn\" onclick=\"checkAnswer(this, 1, 3)\">3) 他很高兴地笑。</button>\r\n    <button class=\"option-btn\" onclick=\"checkAnswer(this, 1, 4)\">4) 他高兴笑得。</button>\r\n  </div>\r\n  <div class=\"explanation\" id=\"feedback1\"></div>\r\n</div>\r\n\r\n<div class=\"quiz-section\">\r\n  <div class=\"question\">2. 다음 문맥에 가장 어울리는 표현은?<br> “他一听这消息，______。”</div>\r\n  <div class=\"options\">\r\n    <button class=\"option-btn\" onclick=\"checkAnswer(this, 2, 1)\">1) 跑得很快</button>\r\n    <button class=\"option-btn\" onclick=\"checkAnswer(this, 2, 2)\">2) 开心得跳了起来</button>\r\n    <button class=\"option-btn\" onclick=\"checkAnswer(this, 2, 3)\">3) 非常地高</button>\r\n    <button class=\"option-btn\" onclick=\"checkAnswer(this, 2, 4)\">4) 是一个老师</button>\r\n  </div>\r\n  <div class=\"explanation\" id=\"feedback2\"></div>\r\n</div>\r\n\r\n<script>\r\nconst answers = {\r\n  1: { correct: 2, explanation: \"‘笑得很高兴’은 ‘정말 기쁘게 웃었다’는 뜻으로 구조가 가장 자연스럽습니다.\" },\r\n  2: { correct: 2, explanation: \"‘他一听这消息，开心得跳了起来’는 자연스러운 반응을 잘 나타냅니다.\" },\r\n  // 3~10번 문제도 동일하게 추가\r\n};\r\n\r\nfunction checkAnswer(button, questionNum, selectedOption) {\r\n  const opts = button.parentNode.querySelectorAll('.option-btn');\r\n  const fb = document.getElementById(`feedback${questionNum}`);\r\n  const correct = Number(answers[questionNum].correct);\r\n  const selected = Number(selectedOption);\r\n\r\n  opts.forEach(btn => btn.classList.remove('correct', 'incorrect'));\r\n\r\n  if (selected === correct) {\r\n    button.classList.add('correct');\r\n    fb.className = 'explanation show correct';\r\n    fb.innerHTML = \"✅ 정답입니다!<br>\" + answers[questionNum].explanation;\r\n  } else {\r\n    button.classList.add('incorrect');\r\n    opts[correct - 1].classList.add('correct');\r\n    fb.className = 'explanation show incorrect';\r\n    fb.innerHTML = \"❌ 오답입니다.<br>\" + answers[questionNum].explanation;\r\n  }\r\n}\r\n</script>\r\n\r\n# 학습 자막: {{3.chinese_subtitle}}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "13000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1009,
                    "y": -221
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Claude Opus 4"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "PDF document",
                                                                        "value": "document",
                                                                        "nested": [
                                                                            "rpc://anthropic-claude/1/notePdfDocument",
                                                                            {
                                                                                "name": "pdfFileName",
                                                                                "type": "filename",
                                                                                "label": "Filename",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "pdf"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "pdfFileData",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "// 1. 모듈 HTML에서 body 내부만 추출하는 함수\r\nfunction extractBody(html) {\r\n  if (!html || typeof html !== 'string') return '';\r\n  const match = html.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\r\n  return match ? match[1].trim() : html.trim();  // <body> 없으면 전체 반환\r\n}\r\n\r\n// 3. 최종 HTML 문서 생성\r\nconst finalHtml = \r\n<!DOCTYPE html>\r\n<html lang=\"ko\">\r\n<head>\r\n  <meta charset=\"UTF-8\" />\r\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\r\n  <title>중국어 학습 콘텐츠</title>\r\n  <style>\r\n    body {\r\n      font-family: 'Noto Sans KR', sans-serif;\r\n      background: #f3e5f5;\r\n      margin: 0; padding: 0;\r\n    }\r\n    header {\r\n      position: fixed;\r\n      top: 0; left: 0; right: 0;\r\n      background: white;\r\n      padding: 20px;\r\n      box-shadow: 0 2px 10px rgba(0,0,0,0.1);\r\n      text-align: center;\r\n      z-index: 1000;\r\n    }\r\n    nav a {\r\n      margin: 0 10px;\r\n      text-decoration: none;\r\n      color: white;\r\n      background: #7c4dff;\r\n      padding: 8px 16px;\r\n      border-radius: 25px;\r\n      font-weight: bold;\r\n    }\r\n    main {\r\n      padding: 160px 20px 40px;\r\n      max-width: 960px;\r\n      margin: auto;\r\n    }\r\n    section {\r\n      margin-bottom: 40px;\r\n      background: white;\r\n      padding: 30px;\r\n      border-radius: 20px;\r\n      box-shadow: 0 3px 10px rgba(0,0,0,0.05);\r\n    }\r\n    .tts-btn {\r\n      background: #eee;\r\n      border: none;\r\n      padding: 6px 12px;\r\n      border-radius: 8px;\r\n      cursor: pointer;\r\n      margin-top: 8px;\r\n    }\r\n    .correct { background: #c8e6c9; }\r\n    .incorrect { background: #ffcdd2; }\r\n  </style>\r\n</head>\r\n<body>\r\n  <header>\r\n    <h1>🎬 중국어 학습 콘텐츠</h1>\r\n    <nav>\r\n      <a href=\"#text1\">텍스트분석&어휘카드</a>\r\n      <a href=\"#text2\">어휘연습</a>\r\n      <a href=\"#text3\">문법/구문분석</a>\r\n      <a href=\"#text4\">문법/구문 연습문제</a>\r\n    </nav>\r\n  </header>\r\n\r\n  <main>\r\n    <section id=\"text1\">\r\n      <h2>1단계: 텍스트분석 & 어휘카드</h2>\n     {{4.content[].text}}\r\n    </section>\r\n\r\n    <section id=\"text2\">\r\n      <h2>2단계: 어휘연습</h2>\r\n      {{6.content[].text}}\r\n    </section>\r\n\r\n    <section id=\"text3\">\r\n      <h2>3단계: 문법/구문 분석</h2>\r\n      {{7.content[].text}}\r\n    </section>\r\n\r\n    <section id=\"text4\">\r\n      <h2>4단계: 문법/구문 연습문제</h2>\r\n      {{9.content[].text}}\r\n    </section>\r\n  </main>\r\n\r\n  <script>\r\n    window.toggleTTS = function(button, text) {\r\n      if (!window.speechSynthesis) return;\r\n      if (button.classList.contains('playing')) {\r\n        speechSynthesis.cancel();\r\n        button.classList.remove('playing');\r\n        button.textContent = '🔊 재생';\r\n      } else {\r\n        const utterance = new SpeechSynthesisUtterance(text);\r\n        utterance.lang = 'zh-CN';\r\n        utterance.rate = 0.9;\r\n        button.classList.add('playing');\r\n        button.textContent = '⏹ 정지';\r\n        utterance.onend = () => {\r\n          button.classList.remove('playing');\r\n          button.textContent = '🔊 재생';\r\n        };\r\n        speechSynthesis.speak(utterance);\r\n      }\r\n    };\r\n\r\n    window.checkAnswer = function(button, isCorrect, explanation) {\r\n      const allBtns = button.parentNode.querySelectorAll('button');\r\n      allBtns.forEach(btn => btn.disabled = true);\r\n      if (isCorrect) {\r\n        button.classList.add('correct');\r\n        button.innerText += ' ✅ 정답!';\r\n      } else {\r\n        button.classList.add('incorrect');\r\n        button.innerText += ' ❌ 오답';\r\n      }\r\n      const feedback = document.createElement('div');\r\n      feedback.innerHTML = '<strong>해설:</strong> ' + explanation;\r\n      feedback.style.marginTop = '10px';\r\n      button.parentNode.appendChild(feedback);\r\n    };\r\n  </script>\r\n</body>\r\n</html>"
            },
            "metadata": {
                "designer": {
                    "x": 1280,
                    "y": -218
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Anthropic Claude - Create a Prompt [4]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 3249088
            },
            "mapper": {
                "data": "{{10.text}}",
                "select": "value",
                "convert": false,
                "filename": "lesson_{{3.NUMBER}}.html",
                "folderId": "/1us2ARsvG_7EwxpAklRPcx9jra0SuSI_C/1jgiRQqyELr3xtHV2_JcnA4UT10vhYL00",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 1545,
                    "y": 65
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "영화콘텐츠 생성",
                                "영화<인생>자동화생성HTML파일"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (siakim88@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4201632
            },
            "mapper": {
                "id": "{{3.id}}",
                "base": "app7PHXdWkoIUoNgq",
                "table": "tblMq1YTHJgDmGm2T",
                "record": {
                    "fld1YZ2gMjwOWCnIe": "done",
                    "fldc8ScKuKtT2Idis": [
                        {
                            "url": "{{13.webContentLink}}",
                            "filename": "lesson{{3.NUMBER}}.html"
                        }
                    ],
                    "fldpIeQLJsnXH35Zl": "{{3.NUMBER}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1770,
                    "y": -192
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "영화콘텐츠 콘텐츠 제작"
                        },
                        "table": {
                            "label": "Table 1"
                        },
                        "record": {
                            "nested": {
                                "fld1YZ2gMjwOWCnIe": {
                                    "mode": "edit"
                                },
                                "fld83HrVFrByoR3Fa": {
                                    "mode": "chose"
                                },
                                "fldc8ScKuKtT2Idis": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrOKXNxuY7Bb3ii0)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldpIeQLJsnXH35Zl",
                                "type": "text",
                                "label": "NUMBER"
                            },
                            {
                                "name": "fldiW53JvAwIqk9wi",
                                "type": "text",
                                "label": "chinese_subtitle"
                            },
                            {
                                "mode": "edit",
                                "name": "fld1YZ2gMjwOWCnIe",
                                "type": "select",
                                "label": "Single Select"
                            },
                            {
                                "name": "fldgBVlxousKHaCQM",
                                "type": "text",
                                "label": "text_content"
                            },
                            {
                                "name": "fld83HrVFrByoR3Fa",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "image_file"
                            },
                            {
                                "name": "fld2ZZbqknbaxND0T",
                                "type": "text",
                                "label": "google_drive_URL"
                            },
                            {
                                "name": "fldc8ScKuKtT2Idis",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "HTML파일"
                            },
                            {
                                "name": "fld6TTG2XnkRkLDO2",
                                "time": false,
                                "type": "date",
                                "label": "DATE"
                            },
                            {
                                "name": "fld5DFf0LNEOEH0fl",
                                "type": "text",
                                "label": "Audio_url"
                            },
                            {
                                "name": "fldfhiMv8XP7ZnrsH",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "fldkqn80vzWkXwPv6",
                                "type": "text",
                                "label": "오류메세지"
                            },
                            {
                                "name": "fldAPtunuCtU3Q2np",
                                "type": "text",
                                "label": "HTML_LONGTEXT"
                            },
                            {
                                "name": "fldKKbC9A8hojjeo1",
                                "type": "text",
                                "label": "구글드라이브링크"
                            },
                            {
                                "name": "fldz5AkaKrJ8iqIoh",
                                "type": "text",
                                "label": "image_URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "NUMBER",
                        "type": "text",
                        "label": "NUMBER"
                    },
                    {
                        "name": "chinese_subtitle",
                        "type": "text",
                        "label": "chinese_subtitle",
                        "multiline": true
                    },
                    {
                        "name": "Single Select",
                        "type": "text",
                        "label": "Single Select"
                    },
                    {
                        "name": "text_content",
                        "type": "text",
                        "label": "text_content"
                    },
                    {
                        "name": "image_file",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "image_file"
                    },
                    {
                        "name": "google_drive_URL",
                        "type": "text",
                        "label": "google_drive_URL"
                    },
                    {
                        "name": "HTML파일",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "HTML파일"
                    },
                    {
                        "name": "DATE",
                        "time": false,
                        "type": "date",
                        "label": "DATE"
                    },
                    {
                        "name": "Audio_url",
                        "type": "text",
                        "label": "Audio_url"
                    },
                    {
                        "name": "ID",
                        "type": "text",
                        "label": "ID",
                        "multiline": true
                    },
                    {
                        "name": "Attachment Summary",
                        "type": "text",
                        "label": "Attachment Summary"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "created"
                    },
                    {
                        "name": "오류메세지",
                        "type": "text",
                        "label": "오류메세지",
                        "multiline": true
                    },
                    {
                        "name": "HTML_LONGTEXT",
                        "type": "text",
                        "label": "HTML_LONGTEXT",
                        "multiline": true
                    },
                    {
                        "name": "구글드라이브링크",
                        "type": "text",
                        "label": "구글드라이브링크"
                    },
                    {
                        "name": "image_URL",
                        "type": "text",
                        "label": "image_URL"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
