Workflows/국제시장/영상콘텐츠/콘텐츠생성 json코드

{
  "name": "국제시장 영상콘텐츠 (Gemini V1)",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JDr1SWoxnTMsRLaEOvcFl__4pj8YWC5evmMwWqFLZIA",
          "mode": "list",
          "cachedResultName": "영화 국제시장 한국어자막",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JDr1SWoxnTMsRLaEOvcFl__4pj8YWC5evmMwWqFLZIA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1258671547,
          "mode": "list",
          "cachedResultName": "13분할",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JDr1SWoxnTMsRLaEOvcFl__4pj8YWC5evmMwWqFLZIA/edit#gid=1258671547"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          },
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -80,
        -208
      ],
      "id": "6974e1d7-b19f-4ff3-a059-e72027e73d5e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xTVKViIjI4JFfn5A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        -208
      ],
      "id": "9b5f4632-a193-4b12-a75d-40e3a82a295a",
      "name": "Wait",
      "webhookId": "edff3f4b-336d-4275-a182-b29aee446032"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=주어진 스크립트에 따라 매우 몰입감 있고 영화적인 장면 프롬프트를 5장 생성해주세요. \n요구사항: 1. 생생하고 감각적인 동작 중심 묘사를 사용할 것 (예: 움켜잡다, 밀치다, 달리다, 쓰러지다 등) 2. 스크립트에 따라 논리적인 순서로 전개될 것 3. 평범한 일상보다는 독특하고 극적이며 시각적으로 강렬한 장면 위주로 구성할 것 4. 몰입감을 높이기 위해 시네마틱 샷 등의 키워드를 포함할 것 5. 각 프롬프트는 200자 이내로 상세하게 작성 6. 큰따옴표(“”)는 사용하지 않음 7. 프롬프트는 영어로 생성함  \n\n예시: Cinematic low-angle shot of Hercules collapsing to one knee in a rain-soaked temple, his fists trembling as divine energy flickers out, thunder cracking behind shattered marble pillars\n\n스크립트:\n{{ $('나래이션 프롬프트 생성').item.json.choices[0].message.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        320,
        128
      ],
      "id": "98193b0e-496e-42d6-a269-ee6a18958649",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        304
      ],
      "id": "979b3b1e-bf68-4a6f-94c2-2b047179ea2c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rzZ0QzGOmR0qClGl",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        496,
        304
      ],
      "id": "611ca5d5-4506-4bac-87c1-8667f7790413",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        128
      ],
      "id": "1f445d1c-d981-4301-a365-084d2681b783",
      "name": "Wait1",
      "webhookId": "73e315fc-d1e1-4635-81f5-c044afe20098"
    },
    {
      "parameters": {
        "amount": 220
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        400
      ],
      "id": "0fc2817b-2e33-49f7-a22d-df7575db8c41",
      "name": "Wait2",
      "webhookId": "f83c6dad-52a3-4946-b3c9-5d49c2d96476"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=이미지 프롬프트에 어울리는 효과음을 생성해주세요.\n\n요구사항:\n1. 결과물은 영어로 10-15 단어로 간결하게 생성할 것\n2. 큰 따옴표(“”)는 사용사지 않음\n3. 사람의 목소리가 생설될 가능성이 있는 프폼프트가 나와서는 안됨\n4. 프롬프트는 영어로 생성함\n5. olny plain text\n\n예시:\na howling desert wind sweeping across the dunes\n\n이미지 프롬프트:\n{{ $json.video.url }}",
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        320,
        640
      ],
      "id": "384d229f-5a4b-4f3a-98eb-9a94f0d15797",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        832
      ],
      "id": "b025106c-8930-453a-8b9e-8419192642a0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "rzZ0QzGOmR0qClGl",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        640
      ],
      "id": "83526bb1-7605-45f9-bed4-aedf6eaf6b82",
      "name": "Wait3",
      "webhookId": "4067601b-2215-4d5d-b1d1-5fa8e6436e9d"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1328,
        288
      ],
      "id": "622eddc5-44ed-440c-84a4-d4ab505686a7",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1552,
        288
      ],
      "id": "d31ee39f-2ffa-4e74-bbcb-c29ca3dbe060",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"scene1\": \"{{ $json[''][1].video.url }}\",\n  \"scene2\": \"{{ $json[''][2].video.url }}\",\n  \"scene3\": \"{{ $json[''][3].video.url }}\",\n  \"scene4\": \"{{ $json[''][4].video.url }}\",\n  \"scene5\": \"{{ $json[''][5].video.url }}\",\n  \"sound1\": \"{{ $json[''][6].audio.url }}\",\n  \"sound2\": \"{{ $json[''][7].audio.url }}\",\n  \"sound3\": \"{{ $json[''][8].audio.url }}\",\n  \"sound4\": \"{{ $json[''][9].audio.url }}\",\n  \"sound5\": \"{{ $json[''][10].audio.url }}\",\n  \"narration\": \"{{ $json[''][0].audio.url }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        288
      ],
      "id": "e255beb8-6b2b-4c3a-a2de-d062cd3558f0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.creatomate.com/v2/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 02bbdafd72264fdfb38f8370f9b440bfd2d1132f165f73d5ad2a8e444ff9878626aec3d4866e778574e2f53181d8e93d"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"d1a006c8-6d82-4640-8d2b-0c71640d34a3\",\n  \"modifications\": {\n    \"scene1.source\": \"{{ $json.scene1 }}\",\n    \"scene2.source\": \"{{ $json.scene2 }}\",\n    \"scene3.source\": \"{{ $json.scene3 }}\",\n    \"scene4.source\": \"{{ $json.scene4 }}\",\n    \"scene5.source\": \"{{ $json.scene5 }}\",\n    \"narration.source\": \"{{ $json.narration }}\",\n    \"sound1.source\": \"{{ $json.sound1 }}\",\n    \"sound2.source\": \"{{ $json.sound2 }}\",\n    \"sound3.source\": \"{{ $json.sound3 }}\",\n    \"sound4.source\": \"{{ $json.sound4 }}\",\n    \"sound5.source\": \"{{ $json.sound5 }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        544
      ],
      "id": "9b49e3c3-e28e-4f03-8bc1-1547f86cdd7f",
      "name": "HTTP Request8",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1JDr1SWoxnTMsRLaEOvcFl__4pj8YWC5evmMwWqFLZIA",
          "mode": "list",
          "cachedResultName": "영화 국제시장 한국어자막",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JDr1SWoxnTMsRLaEOvcFl__4pj8YWC5evmMwWqFLZIA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1258671547,
          "mode": "list",
          "cachedResultName": "13분할",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JDr1SWoxnTMsRLaEOvcFl__4pj8YWC5evmMwWqFLZIA/edit#gid=1258671547"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ $('Google Sheets').item.json.number }}",
            "status": "completed",
            "video_URL": "={{ $json.url }}"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "publish",
              "displayName": "publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_URL",
              "displayName": "video_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HTML",
              "displayName": "HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        544
      ],
      "id": "34a9a342-a2d7-42e8-9683-029d092a2b51",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xTVKViIjI4JFfn5A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 텍스트 정리 함수\nconst cleanText = (text) => {\n  return text\n    .replace(/\"/g, '\\\\\"')    // 따옴표 이스케이프\n    .replace(/\\n/g, ' ')     // 줄바꿈을 공백으로\n    .replace(/\\r/g, '')      // 캐리지 리턴 제거\n    .replace(/\\t/g, ' ')     // 탭을 공백으로\n    .trim();                 // 앞뒤 공백 제거\n};\n\n// 입력 데이터 처리\nconst inputData = items[0].json;\nconst cleanedContent = cleanText(inputData.content);\n\nreturn [{\n  json: {\n    content: cleanedContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -208
      ],
      "id": "40018e34-4351-428f-bea5-c8969b30db50",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://api.creatomate.com/v2/renders/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 02bbdafd72264fdfb38f8370f9b440bfd2d1132f165f73d5ad2a8e444ff9878626aec3d4866e778574e2f53181d8e93d"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        544
      ],
      "id": "e5eb06ae-cb9e-4342-9250-577b913328cd",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization\t",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"당신은 영상 쇼츠의 나레이션 대본을 작성하는 전문 작가입니다. 사용자는 한국 영화 <국제시장>의 자막을 제공할 것입니다. 당신의 임무는 주어진 자막의 핵심 줄거리를 요약하여, 약 25초 분량(100~120자 내외)의 흡입력 있는 중국어 나레이션으로 만드는 것입니다. 결과물은 오직 나레이션 대본 텍스트만 포함해야 합니다. 다른 어떤 설명이나 인사도 추가하지 마세요.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.content }}\"\n    }\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 1500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -208
      ],
      "id": "f16c2849-f0eb-4bf9-a412-21d8d225fa30",
      "name": "나래이션 프롬프트 생성"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/elevenlabs/tts/turbo-v2.5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"text\":\"{{ $json.choices[0].message.content }}\",\n\"language_code\": \"zh\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -208
      ],
      "id": "cdede768-c315-42ea-8851-73850a66d289",
      "name": "나래이션 생성"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"text\":\"{{ $('나래이션 프롬프트 생성').item.json.choices[0].message.content }}\",\n\"language_code\": \"zh\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -208
      ],
      "id": "46468edf-6267-466a-b8ba-9cb96feb856c",
      "name": "나래이션 받기"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/recraft/v3/text-to-image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.text }}\",\n  \"image_size\": \"portrait_16_9\",\n  \"style\": \"digital_illustration/neon_calm\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        128
      ],
      "id": "c991d04d-a225-4d25-bae5-5771440357ff",
      "name": "이미지생성"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/recraft-v3/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.request_id }}\",\n  \"image_size\": \"portrait_16_9\",\n  \"style\": \"digital_illustration/neon_calm\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        128
      ],
      "id": "f4dfb411-13a4-4c5e-b30d-1be7fb5fbb2c",
      "name": "이미지 받기",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/kling-video/v1.6/standard/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $('Basic LLM Chain').item.json.text }}\",\n  \"image_url\": \"{{ $json.images[0].url }}\",\n  \"duration\": \"5\",\n  \"aspect_ratio\": \"9:16\",\n  \"nagative_prompt\": \"blur, distort, and low quality\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        400
      ],
      "id": "2586fe4a-5256-4d71-b0e2-1e386111a002",
      "name": "이미지>영상"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.request_id }}\",\n  \"image_size\": \"portrait_16_9\",\n  \"style\": \"digital_illustration/neon_calm\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        400
      ],
      "id": "163c456f-4af6-4e03-bead-8dfcdf0fc602",
      "name": "영상받기",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/elevenlabs/sound-effects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}, 5초 분량으로 생성해주세요.\",\n  \"duration\": \"5\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        640
      ],
      "id": "abe3fee9-6bf7-4be8-970c-d77c7bf5ded5",
      "name": "효과음생성"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.request_id }}\",\n  \"image_size\": \"portrait_16_9\",\n  \"style\": \"digital_illustration/neon_calm\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        640
      ],
      "id": "5fc0651a-35c9-4a53-9e46-65b1aaf71184",
      "name": "효과음받기",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        -208
      ],
      "id": "be4f12fa-3e3f-4768-b5c8-422662b07b53",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "나래이션 받기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "이미지생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "이미지 받기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "영상받기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "효과음생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "효과음받기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "나래이션 프롬프트 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "나래이션 프롬프트 생성": {
      "main": [
        [
          {
            "node": "나래이션 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "나래이션 생성": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "나래이션 받기": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지생성": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 받기": {
      "main": [
        [
          {
            "node": "이미지>영상",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지>영상": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상받기": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "효과음생성": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "효과음받기": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b081d63-ee9f-4f3b-ae26-797a972a003f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66e9528ae17b86aa30fb8f56bb99b806483efddd684d86c188f94fa3463dec9c"
  },
  "id": "fwYrF03XyhclKclr",
  "tags": []
}
