Workflows/인생/영상콘텐츠/영상콘텐츠 생성

{
  "name": "인생 영상콘텐츠 (Gemini V1)",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13GafmiCYyUzpGM87Qmz_mCTHgMo52ZzYf5-f0FLgHZE",
          "mode": "list",
          "cachedResultName": "영화 인생 학습자료",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13GafmiCYyUzpGM87Qmz_mCTHgMo52ZzYf5-f0FLgHZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 532180837,
          "mode": "list",
          "cachedResultName": "13분할",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13GafmiCYyUzpGM87Qmz_mCTHgMo52ZzYf5-f0FLgHZE/edit#gid=532180837"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          },
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -80,
        -208
      ],
      "id": "31c7a37c-7cb7-4c3e-bf09-90ee7b520f3f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xTVKViIjI4JFfn5A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/elevenlabs/tts/turbo-v2.5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"text\":\"{{ $json.choices[0].message.content }}\",\n\"language_code\": \"ko\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -208
      ],
      "id": "3c7d384f-f9c7-4fa1-b1cf-6dbe1aafdde1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"text\":\"{{ $('HTTP Request9').item.json.choices[0].message.content }}\",\n\"language_code\": \"ko\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -208
      ],
      "id": "9d737f2f-5171-4cfa-91fd-b5b0f07266d0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        -208
      ],
      "id": "e03dc07f-465b-413b-9f59-7ce4f03b701d",
      "name": "Wait",
      "webhookId": "663a4a26-9c1d-457f-8140-747955c04150"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=주어진 스크립트에 따라 매우 몰입감 있고 영화적인 장면 프롬프트를 5장 생성해주세요. \n요구사항: 1. 생생하고 감각적인 동작 중심 묘사를 사용할 것 (예: 움켜잡다, 밀치다, 달리다, 쓰러지다 등) 2. 스크립트에 따라 논리적인 순서로 전개될 것 3. 평범한 일상보다는 독특하고 극적이며 시각적으로 강렬한 장면 위주로 구성할 것 4. 몰입감을 높이기 위해 시네마틱 샷 등의 키워드를 포함할 것 5. 각 프롬프트는 200자 이내로 상세하게 작성 6. 큰따옴표(“”)는 사용하지 않음 7. 프롬프트는 영어로 생성함  \n\n예시: Cinematic low-angle shot of Hercules collapsing to one knee in a rain-soaked temple, his fists trembling as divine energy flickers out, thunder cracking behind shattered marble pillars\n\n스크립트:\n{{ $('HTTP Request9').item.json.choices[0].message.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        320,
        128
      ],
      "id": "f41f6b57-b12d-41cc-8cca-f72087581371",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        304
      ],
      "id": "02567709-9124-40cb-858c-cc940c4c34a1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rzZ0QzGOmR0qClGl",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        496,
        304
      ],
      "id": "e68a4297-8d26-423a-90c6-df7c3679b94c",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/recraft/v3/text-to-image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.text }}\",\n  \"image_size\": \"portrait_16_9\",\n  \"style\": \"digital_illustration/neon_calm\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        128
      ],
      "id": "06353b01-efc2-4be2-a92a-9e485f725724",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        128
      ],
      "id": "b3a8eed1-fa9c-49a0-b222-f1ad2f811cf4",
      "name": "Wait1",
      "webhookId": "d2396c43-58fb-4eea-b13d-608be39468f5"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/recraft-v3/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.request_id }}\",\n  \"image_size\": \"portrait_16_9\",\n  \"style\": \"digital_illustration/neon_calm\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        128
      ],
      "id": "e1456156-c729-4f35-b544-5e9ba4ce3d22",
      "name": "HTTP Request3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/kling-video/v1.6/standard/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $('Basic LLM Chain').item.json.text }}\",\n  \"image_url\": \"{{ $json.images[0].url }}\",\n  \"duration\": \"5\",\n  \"aspect_ratio\": \"9:16\",\n  \"nagative_prompt\": \"blur, distort, and low quality\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        400
      ],
      "id": "4719855c-d675-4752-a41f-0ddb9a0ed72c",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "amount": 220
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        400
      ],
      "id": "ce608580-9f9d-478a-b769-93b4874863df",
      "name": "Wait2",
      "webhookId": "871bb0c5-ab52-400e-adb2-0e3a11a625de"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.request_id }}\",\n  \"image_size\": \"portrait_16_9\",\n  \"style\": \"digital_illustration/neon_calm\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        400
      ],
      "id": "339ff7a5-38b6-4538-b408-e7343f096f1e",
      "name": "HTTP Request5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=이미지 프롬프트에 어울리는 효과음을 생성해주세요.\n\n요구사항:\n1. 결과물은 영어로 10-15 단어로 간결하게 생성할 것\n2. 큰 따옴표(“”)는 사용사지 않음\n3. 사람의 목소리가 생설될 가능성이 있는 프폼프트가 나와서는 안됨\n4. 프롬프트는 영어로 생성함\n5. olny plain text\n\n예시:\na howling desert wind sweeping across the dunes\n\n이미지 프롬프트:\n{{ $json.video.url }}",
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        320,
        640
      ],
      "id": "293824b6-74ea-4154-9c6c-b37508bf5702",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        832
      ],
      "id": "e4955acd-b8c9-4d1f-b5ea-0c4197138ea0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "rzZ0QzGOmR0qClGl",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/elevenlabs/sound-effects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}, 5초 분량으로 생성해주세요.\",\n  \"duration\": \"5\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        640
      ],
      "id": "49b69220-4214-4c62-92c4-482a95b60f85",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        640
      ],
      "id": "38fbe74b-61a3-4dfe-8205-2a1edaab5c51",
      "name": "Wait3",
      "webhookId": "f9dcaa95-37a7-49f4-85d0-11a3d263bdf2"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key 210e2e93-75a2-486d-8efd-57c916e652ad:3d30ec42e81a1c8d1b94ee4a009a742e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.request_id }}\",\n  \"image_size\": \"portrait_16_9\",\n  \"style\": \"digital_illustration/neon_calm\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        640
      ],
      "id": "08ecd19e-be68-4b4c-b0cb-6818db4af2f5",
      "name": "HTTP Request7",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1328,
        288
      ],
      "id": "a5cc2bcd-b047-41e3-988f-7ae7ec81c438",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1552,
        288
      ],
      "id": "9ea3925c-b62d-46a9-b052-05ccc5dfd226",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"scene1\": \"{{ $json[''][1].video.url }}\",\n  \"scene2\": \"{{ $json[''][2].video.url }}\",\n  \"scene3\": \"{{ $json[''][3].video.url }}\",\n  \"scene4\": \"{{ $json[''][4].video.url }}\",\n  \"scene5\": \"{{ $json[''][5].video.url }}\",\n  \"sound1\": \"{{ $json[''][6].audio.url }}\",\n  \"sound2\": \"{{ $json[''][7].audio.url }}\",\n  \"sound3\": \"{{ $json[''][8].audio.url }}\",\n  \"sound4\": \"{{ $json[''][9].audio.url }}\",\n  \"sound5\": \"{{ $json[''][10].audio.url }}\",\n  \"narration\": \"{{ $json[''][0].audio.url }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        288
      ],
      "id": "7c1b0f9d-51b3-4966-9db6-edc52f5b8f8d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.creatomate.com/v2/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 02bbdafd72264fdfb38f8370f9b440bfd2d1132f165f73d5ad2a8e444ff9878626aec3d4866e778574e2f53181d8e93d"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"d1a006c8-6d82-4640-8d2b-0c71640d34a3\",\n  \"modifications\": {\n    \"scene1.source\": \"{{ $json.scene1 }}\",\n    \"scene2.source\": \"{{ $json.scene2 }}\",\n    \"scene3.source\": \"{{ $json.scene3 }}\",\n    \"scene4.source\": \"{{ $json.scene4 }}\",\n    \"scene5.source\": \"{{ $json.scene5 }}\",\n    \"narration.source\": \"{{ $json.narration }}\",\n    \"sound1.source\": \"{{ $json.sound1 }}\",\n    \"sound2.source\": \"{{ $json.sound2 }}\",\n    \"sound3.source\": \"{{ $json.sound3 }}\",\n    \"sound4.source\": \"{{ $json.sound4 }}\",\n    \"sound5.source\": \"{{ $json.sound5 }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        544
      ],
      "id": "833eb0e5-029a-41da-977e-c8ae769581b0",
      "name": "HTTP Request8",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13GafmiCYyUzpGM87Qmz_mCTHgMo52ZzYf5-f0FLgHZE",
          "mode": "list",
          "cachedResultName": "영화 인생 학습자료",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13GafmiCYyUzpGM87Qmz_mCTHgMo52ZzYf5-f0FLgHZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 532180837,
          "mode": "list",
          "cachedResultName": "13분할",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13GafmiCYyUzpGM87Qmz_mCTHgMo52ZzYf5-f0FLgHZE/edit#gid=532180837"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "1": "={{ $('Google Sheets').item.json['1'] }}",
            "video_URL": "={{ $json.url }}",
            "status": "completed"
          },
          "matchingColumns": [
            "1"
          ],
          "schema": [
            {
              "id": "1",
              "displayName": "1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " narration",
              "displayName": " narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publish",
              "displayName": "publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_URL",
              "displayName": "video_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HTML",
              "displayName": "HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "narration_url",
              "displayName": "narration_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image1",
              "displayName": "image1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image2",
              "displayName": "image2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image3",
              "displayName": "image3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image4",
              "displayName": "image4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image5",
              "displayName": "image5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sound1",
              "displayName": "sound1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sound2",
              "displayName": "sound2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sound3",
              "displayName": "sound3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sound4",
              "displayName": "sound4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sound5",
              "displayName": "sound5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        544
      ],
      "id": "de75a119-d83b-47fd-ba82-40dbeace9748",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xTVKViIjI4JFfn5A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization\t",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"당신은 영상 쇼츠의 나레이션 대본을 작성하는 전문 작가입니다. 사용자는 중국 영화 <인생>의 자막을 제공할 것입니다. 당신의 임무는 주어진 자막의 핵심 줄거리를 요약하여, 약 25초 분량(100~120자 내외)의 흡입력 있는 한국어 나레이션으로 만드는 것입니다. 결과물은 오직 나레이션 대본 텍스트만 포함해야 합니다. 다른 어떤 설명이나 인사도 추가하지 마세요.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.content }}\"\n    }\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 1500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -208
      ],
      "id": "a1ee0ba0-b1af-486d-97eb-5deb579877c3",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "jsCode": "// 텍스트 정리 함수\nconst cleanText = (text) => {\n  return text\n    .replace(/\"/g, '\\\\\"')    // 따옴표 이스케이프\n    .replace(/\\n/g, ' ')     // 줄바꿈을 공백으로\n    .replace(/\\r/g, '')      // 캐리지 리턴 제거\n    .replace(/\\t/g, ' ')     // 탭을 공백으로\n    .trim();                 // 앞뒤 공백 제거\n};\n\n// 입력 데이터 처리\nconst inputData = items[0].json;\nconst cleanedContent = cleanText(inputData.content);\n\nreturn [{\n  json: {\n    content: cleanedContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -208
      ],
      "id": "3886da4b-5c22-4150-a1b0-3040bde0f3c4",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://api.creatomate.com/v2/renders/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 02bbdafd72264fdfb38f8370f9b440bfd2d1132f165f73d5ad2a8e444ff9878626aec3d4866e778574e2f53181d8e93d"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        544
      ],
      "id": "8eb190b0-085e-4aef-8aae-5c28b2abc895",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -208
      ],
      "id": "bdb43d54-2ab9-4750-bcc4-179e1c3aedc5",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e59b95ca-2edf-443d-9b9e-c9a37c55504a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66e9528ae17b86aa30fb8f56bb99b806483efddd684d86c188f94fa3463dec9c"
  },
  "id": "2Ya7Jb3dVd3Nw9M5",
  "tags": []
}
